.tabs-filter {
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn {
    line-height: 1;
    @extend %dmsans-700;
    color: $tabs-color;
    border: 0;
    background-color: transparent;
    padding: 0;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      color: $title-color;
    }
  }

  &__btn+.tabs-filter__btn {
    margin-left: 30px;
  }
}

.mixitup-control-active {
  color: $title-color;
}

.product {
  padding: 60px 0 185px;

  &__items {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.product-item {
  background-color: $ligth-color;
  box-shadow: 0px 6px 25px rgba(37, 37, 37, 0.05);
  padding: 30px;
  text-align: center;
  max-width: 270px;
  width: 100%;

  &.product-item--list {
    min-width: 100%;
    display: flex;
    align-items: center;
    text-align: left;

    .product-item__img-box {
      height: 420px;
      width: 370px;
      margin-right: 50px;
      flex: 1 0 auto;
      padding: 0;

      img {
        height: 370px;
      }
    }

    .product-item__link-box {
      display: none;
    }

    .product-item__box {
      margin-bottom: 30px;
    }

    .product-item__content-box {
      display: block;
    }

    .product-item__title {
      font-size: 40px;
      line-height: 40px;
      @extend %rubik-400;
      color: #333333;
    }

    .product-item__price {
      font-size: 30px;
      line-height: 45px;
      @extend %rubik-400;
      color: #333333;
    }

    .product-item__star {
      display: block;
      margin: 20px -5px 30px;
    }

    .product-item_text {
      margin-bottom: 30px;
    }

    .product-item__btn {
      padding: 16px 50px 16px;
      background-color: $button-color;
      font-size: 15px;
      letter-spacing: 1px;
      line-height: 18px;
      text-transform: uppercase;
      color: $ligth-color;
      @extend %rubik-400;
      border-radius: 5px;
      border: none;
      text-align: center;
      transition: all .3s;

      &:hover {
        background-color: $default-color;
      }
    }
  }

  &:hover {
    .product-item__link-box {
      transition: all .3s;
      opacity: 1;
      visibility: visible;
    }
  }

  &__content-box {
    display: none;
  }

  &__star {
    display: none;
  }

  &__img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }

  &__img {
    height: 220px;
    width: 100%;
    object-fit: contain;
    position: relative;
  }

  &__link-box {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    bottom: 60px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $ligth-color;
    box-shadow: 0px 6px 25px rgba(37, 37, 37, 0.05);
    transition: all .3s;

    path {
      fill: $button-color;
    }

    &:hover {
      background-color: $button-color;

      path {
        fill: $ligth-color;
      }
    }
  }

  &__link:nth-child(2) {
    margin: 0 10px;
  }

  &__title {
    line-height: 40px;
    @extend %dmsans-500;
    color: $default-color;
  }

  &__price {
    line-height: 40px;
    @extend %dmsans-700;
    color: $button-color;
  }
}

@media (max-width: 1200px) {
  .product-item {
    max-width: 31.333%;
  }
}
@media (max-width: 1100px) {
  .product {
    &__items {
      gap: 20px;
    }
  }
}
@media (max-width: 992px) {
  .product {
    padding: 40px 0 105px;
    &__items {
      margin-top: 40px;
    }
  }
  .product-item {
    &__img-box {
      padding-bottom: 30px;
    }
  }
}
@media (max-width: 840px) {
  .product-item {
    max-width: 48%;
  }
}
@media (max-width: 530px) {
  .product-item {
    max-width: 100%;
  }
  .tabs-filter {
    font-size: 14px;
    &__btn + .tabs-filter__btn {
      margin-left: 15px;
    }
  }
}