.page-navigation {
  background-color: rgba($button-color, .2);
  padding: 30px 0;
  color: $navigation-color;
  text-align: center;

  &__title {
    font-size: 36px;
    line-height: 1;
    @extend %rubik-400;
    margin-bottom: 5px;
  }
}