.blog {
  padding-top: 115px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 203px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba($link-color, .2);
    z-index: -1;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
  }

  .title {
    text-align: left;
  }

  &__link {
    @extend %dmsans-700;
    color: $blogtext-color;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;

    path {
      fill: $blogtext-color;
    }

    &:hover {
      color: $link-color;

      path {
        fill: $link-color;
      }
    }
  }

  &__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    border-radius: 5px;
    background-color: $ligth-color;
    box-shadow: 0px 6px 25px rgba(37, 37, 37, 0.05);
  }

  &__item-imglink {
    position: relative;
    display: block;
  }

  &__item-imglink::after {
    content: 'News';
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 103px;
    height: 30px;
    bottom: -15px;
    left: 28px;
    background-color: $button-color;
    color: $ligth-color;
    border-radius: 15px;
    font-size: 14px;
    line-height: 29px;
    @extend %poppins-700;
  }

  &__item-content {
    padding: 36px 28px 28px;
  }

  &__item-title {
    font-size: 18px;
    color: $blogtext-color;
    line-height: 26px;
    @extend %dmsans-500;
    margin-bottom: 15px;
    transition: all .3s;

    &:hover {
      color: $accent-color;
    }
  }

  &__item-metedate {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    @extend %dmsans-500;
    color: $blogtext-color;
    transition: all .3s;
    gap: 30px;
  }

  &__item-author {
    a {
      color: $blogtext-color;

      &:hover {
        color: $accent-color;
      }
    }
  }
}
@media (max-width: 992px) {

  .blog {
    &__item-title {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    &__item-content {
      padding: 20px 15px 15px;
    }
    &__item-imglink::after {
      left: 15px;
    }
    &__item-metedate {
      padding-top: 10px;
    }
  }
}

@media (max-width: 779px) {
  .blog {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    &::after {
      height: 126px;
    }
  }
}

@media (max-width: 500px) {
  .blog {
    &__inner {
      flex-direction: column;
    }
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item-imglink {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}