html,
body {
  height: 100%;
}

body {
  color: $default-color;
  font-size: 16px;
  line-height: 30px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  &__list {
    display: flex;
  }
  &__item {
    padding-right: 20px;
    font-size: 14px;
    line-height: 24px;
    color: rgba($navigation-color, .6);
    @extend %rubik-400;
    position: relative;
    &::after {
      content: '/';
      position: absolute;
      right: 8px;
      top: 0;
    }
    &:last-child {
      color: rgba($navigation-color, .6);
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  &__list {
    display: flex;
  }
  &__arrows,
  &__item {
    margin-right: 15px;
  }
  &__arrows,
  &__link {
    line-height: 1;
    padding: 18px 20px;
    color: $default-color;
    background-color: $ligth-color;
    border: 1px solid $button-color;
    display: flex;
    &:last-child {
      margin-right: 0;
    }
    &:hover{
      color: $ligth-color;
      background-color: $button-color;
    }
  }
}