$link-color: #fcd7b6;
$accent-color: #436372;
$default-color: #243f4d;
$button-color: #a3bbc8;
$ligth-color: #ffffff;
$title-color: #1a1a1a;
$tabs-color: #8b8b8b;
$text-color: #7b7b7b;
$footer-title: #1f2044;
$placeholder-color: #234969;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
}
%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
}
%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
}
%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
}
%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
}
%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
}

%title {
  font-size: 36px;
  line-height: 1;
  @extend %dmsans-700;
  color: $title-color;
}