@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0;
  &__wrapper {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  display: flex;
  align-items: center;
  font-size: 36px;
  line-height: 36px;
  @extend %rubik-500;
  color: $accent-color;
  &__img {
    margin-right: 15px;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 35px
  }
  &__list-link {
    font-size: 15px;
    line-height: 15px;
    @extend %rubik-500;
    color: $accent-color;
    transition: all .3s;
    padding-bottom: 5px;
    &:hover {
      border-bottom: 2px solid $link-color;
    }
  }
  &__list-link--active {
    border-bottom: 2px solid $link-color;
  }
}
.header-action {
  display: flex;
  &__search,
  &__link {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__search {
    background-color: rgba($button-color, .2);
    margin-right: 20px;
  }
  &__link {
    background-color: $button-color;
    margin-left: 20px;
  }
  &__wishlist {
    padding: 10px 30px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 32px;
      background-color: $ligth-color;
      opacity: .4;
    }
  }
  &__cart {
    padding: 10px 30px;
    position: relative;
  } 
  &__num {
    position: absolute;
    top: 0;
    right: 22px;
    background-color: $ligth-color;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: $default-color;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
  }
  &__shop-group {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-radius: 26px;
    background-color: $link-color;
  }
}

.page-navigation {
  background-color: rgba($button-color, .2);
  padding: 30px 0;
  color: $navigation-color;
  text-align: center;
  &__title {
    font-size: 36px;
    line-height: 1;
    @extend %rubik-400;
    margin-bottom: 5px;
  }
}

.hero {
  max-width: 1800px;
  margin: 0 auto;
  &__wrapper {
    position: relative;
    margin: 0 15px;
    background-color: $link-color;
    padding-top: 100px;
    &::before{
      content: '';
      width: 634px;
      height: 634px;
      border-radius: 50%;
      background: linear-gradient(to left, white, transparent);
      position: absolute;
      top: 8%;
      right: 7%;
    }
  }
  &__slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slider-content {
    padding: 120px 0 190px;
  }
  &__slider-title {
    font-size: 72px;
    line-height: 70px;
    color: $default-color;
    @extend %rubik-500;
    margin-bottom: 30px;
    text-transform: uppercase;
    max-width: 470px;
  }
  &__slider-text {
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color: $accent-color;
    @extend %rubik-400;
    margin-bottom: 35px;
  }
  &__slider-btn {
    background-color: $button-color;
    padding: 15px 15px 15px 30px;
    font-size: 15px;
    color: $ligth-color;
    @extend %rubik-500;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    &:hover {
      background-color: $default-color;
    }
    path {
      fill: $ligth-color;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    li,
    .slick-active {
      text-align: center;
    }
    li + li {
      margin-left: 20px;
    }
    .slick-active {
      button {
        background-color: $ligth-color;
      }
    }
    button {
      width: 29px;
      height: 29px;
      border-radius: 50%;
      font-size: 11px;
      line-height: 9px;
      color: $default-color;
      border: none;
      background-color: rgba($ligth-color, .3);
      @extend %rubik-500;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  background-color: #fef7f0;
  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    max-width: 600px;
    width: 100%;
  }
  &__item + .info__item {
    border-left: 1px solid #e8e4ef;
  }
  &__icon {
    object-fit: none;
  }
  &__content {
    padding-left: 30px;
  }
  
  &__title {
    font-size: 18px;
    line-height: 1;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
    max-width: 213px;
  }
}

.title {
  @extend %title;
  text-align: center;
  margin-bottom: 20px;
}

.tabs-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn {
    line-height: 1;
    @extend %dmsans-700;
    color: $tabs-color;
    border: 0;
    background-color: transparent;
    padding: 0;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      color: $title-color;
    }
  }

    &__btn + .tabs-filter__btn {
      margin-left: 30px;
    }
}

.mixitup-control-active {
  color: $title-color;
}

.product {
  padding: 60px 0 185px;
  &__items {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.product-item {
  background-color: $ligth-color;
  box-shadow: 0px 6px 25px rgba(37, 37, 37, 0.05);
  padding: 30px;
  text-align: center;
  max-width: 270px;
  width: 100%;
  &.product-item--list{
    min-width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    .product-item__img-box {
      height: 420px;
      width: 370px;
      margin-right: 50px;
      flex: 1 0 auto;
      padding: 0;
      img {
        height: 370px;
      }
    }
    .product-item__link-box {
      display: none;
    }
    .product-item__box {
      margin-bottom: 30px;
    }
    .product-item__content-box {
      display: block;
    }
    .product-item__title {
      font-size: 40px;
      line-height: 40px;
      @extend %rubik-400;
      color: #333333;
    }
    
    .product-item__price {
      font-size: 30px;
      line-height: 45px;
      @extend %rubik-400;
      color: #333333;
    }
    .product-item__star {
      display: block;
      margin: 20px -5px 30px;
    }
    .product-item_text {
      margin-bottom: 30px;
    }
    .product-item__btn {
      padding: 16px 50px 16px;
      background-color: $button-color;
      font-size: 15px;
      letter-spacing: 1px;
      line-height: 18px;
      text-transform: uppercase;
      color: $ligth-color;
      @extend %rubik-400;
      border-radius: 5px;
      border: none;
      text-align: center;
      transition: all .3s;
      &:hover {
        background-color: $default-color;
      }
    }
  }
  &:hover {
    .product-item__link-box {
      transition: all .3s;
      opacity: 1;
      visibility: visible;
    }
  }
  &__content-box {
    display: none;
  }
  &__star {
    display: none;
  }
  &__img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  &__img {
    height: 220px;
    width: 100%;
    object-fit: contain;
    position: relative;
  }
  &__link-box {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    bottom: 60px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $ligth-color;
    box-shadow: 0px 6px 25px rgba(37, 37, 37, 0.05);
    transition: all .3s;
    path {
      fill: $button-color;
    }
    &:hover {
      background-color: $button-color;
      path {
          fill: $ligth-color;
        }
    }
  }
  &__link:nth-child(2) {
    margin: 0 10px;
  }
  &__title {
    line-height: 40px;
    @extend %dmsans-500;
    color: $default-color;
  }
  &__price {
    line-height: 40px;
      @extend %dmsans-700;
      color: $button-color;
  }
}

.one-product {
  &__items {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $link-color;
    width: 50%;
    padding: 0 20px 75px;
  }
  &__img {
    margin-top: -100px;
  }
  &__content {
    padding-top: 75px;
    margin-left: 30px;
    max-width: 380px;
  }
  &__title {
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    color: $default-color;
    margin-bottom: 20px;
  }
  &__text {
    @extend %rubik-400;
    margin-bottom: 30px;
  }
  &__link {
    width: 180px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $accent-color;
    border-radius: 5px;
    font-size: 15px;
    line-height: 12px;
    color: $accent-color;
    @extend %rubik-500;
    transition: all .3s;
    svg {
      line-height: 1;
      path {
        fill: $accent-color;
      }
    }
    &:hover {
      background-color: $accent-color;
      color: $ligth-color;
      path {
        fill: $ligth-color;
      }
    }
  }
}

.design {
  padding: 100px 0 120px;
  &__filter {
    margin-bottom: 70px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 5px;
    padding: 35px 0 0 35px;
    max-width: 370px;
    width: 100%;
    height: 246px;
  }
  &__item-title {
    color: $title-color;
    font-size: 20px;
    line-height: 28px;
    @extend %dmsans-700;
    margin-bottom: 10px;
    transition: all .3s;
    &:hover {
      color: $accent-color;
    }
  }
  &__item-subtitle {
    @extend %dmsans-700;
    color: $button-color;
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/video-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/video-link-bg.png);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    path {
      fill: $ligth-color;
    }
  }
}

.blog {
  padding-top: 115px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 203px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba($link-color, .2);
    z-index: -1;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
  }
  .title {
    text-align: left;
  }
  &__link {
    @extend %dmsans-700;
    color: $blogtext-color;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    path {
      fill: $blogtext-color;
    }
    &:hover {
      color: $link-color;
      path {
        fill: $link-color;
      }
    }
  }
  &__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item {
    border-radius: 5px;
    background-color: $ligth-color;
    box-shadow: 0px 6px 25px rgba(37, 37, 37, 0.05);
  }
  &__item-imglink {
    position: relative;
    display: block;
  }
  &__item-imglink::after {
    content: 'News';
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 103px;
    height: 30px;
    bottom: -15px;
    left: 28px;
    background-color: $button-color;
    color: $ligth-color;
    border-radius: 15px;
    font-size: 14px;
    line-height: 29px;
    @extend %poppins-700;
  }
  &__item-content {
    padding: 36px 28px 28px;
  }
  &__item-title {
    font-size: 18px;
    color: $blogtext-color;
    line-height: 26px;
    @extend %dmsans-500;
    margin-bottom: 15px;
    transition: all .3s;
    &:hover {
        color: $accent-color;
      }
  }
  &__item-metedate {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    @extend %dmsans-500;
    color: $blogtext-color;
    transition: all .3s;
    gap: 30px;
  }
  &__item-author {
    a {
      color: $blogtext-color;
      &:hover {
        color: $accent-color;
      }
    }
  }
}

.partner {
  position: relative;
  padding: 100px 0 90px;
  background-color: rgba($link-color, .2);
  &__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__item {
    object-fit: contain;
  }
}

.login {
  padding-top: 115px;
  max-width: 500px;
  margin: 0 auto 120px;
  &__form,
  &__new {
    @extend %rubik-400;
    color: $accent-color;
    font-size: 14px;
    line-height: 18px;
    
  }
  &__label {
    display: block;
    margin-bottom: 30px;
  }
  
  &__input {
    display: block;
    margin-top: 10px;
    width: 100%;
    border: 2px solid #f6f6f6;
    border-radius: 0;
    height: 60px;
    padding: 5px;
  }
  &__btn-form,
  &__btn {
    padding: 19px 10px;
    width: 100%;
    transition: all .3s;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 18px;
  }
  &__btn-form {
    margin: 10px 0 30px;
    background-color: $button-color;
    color: $ligth-color;
    border: none;
    &:hover {
      background-color: $default-color;
    }
  }
  &__btn {
    margin-bottom: 0;
    background-color: $ligth-color;
    border: 2px solid #a3bbc8;
    color: $default-color;
    &:hover {
      background-color: $default-color;
      border-color: $default-color;
      color: $ligth-color;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .login__label {
        margin-bottom: 0;
      }
  }
  &__error {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
  &__new {
    border-top: 2px solid #f6f6f6;
    padding-top: 30px;
    text-align: center;
  }
  &__text {
    margin-bottom: 20px;
  }
}

.terms {
  padding-top: 115px;
  &__subtitle {
    font-size: 24px;
    line-height: 40px;
    @extend %rubik-500;
    margin-bottom: 20px;
  }
  &__list{
    margin-left: 27px;
    list-style-type: decimal-leading-zero;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__list,
  &__text {
    margin-bottom: 65px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.experience {
  padding: 120px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image {
    max-width: 570px;
  }
  &__content {
    margin-left: 48px;
  }
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__num {
    font-size: 140px;
    line-height: 1;
    @extend %rubik-700;
    margin-right: 30px;
    color: $button-color;
  }
  &__subtitle {
    display: block;
  }
  &__title {
    text-align: left;
    margin-bottom: 45px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(#09316f, .1);
    margin-top: 50px;
    padding-top: 40px;
  }
  &__item {
    display: flex;
    position: relative;
    align-items: center;
    width: 145px;
    padding-right: 54px;
    &::after {
      content: '';
      width: 1px;
      height: 80px;
      background-color: rgba(#09316f, .1);
      position: absolute;
      top: -10px;
      right: -27px;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__item-descr {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  &__item-num {
    @extend %dmsans-700;
    color: $default-color;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 5px;
  }
  &__item-name {
    line-height: 17px;
    color: #4c4c4c;
    @extend %dmsans-700;
  }
}

.total {
  background-color: $link-color;
  padding: 90px 0 70px;
  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  &__icon {
    object-fit: fill;
  }
  &__num {
    @extend %title;
    color: $default-color;
    margin: 15px 0
  }
  &__name {
    font-size: 18px;
    line-height: 32px;
    color: $default-color;
    @extend %dmsans-700;
  }
}

.team {
  padding-top: 120px;
  .container {
    display: flex;
  }
  &__content {
    max-width: 370px;
    margin-right: 30px;
  }
  &__title {
    text-align: left;
  }
  &__text {
    padding-right: 65px;
    margin-bottom: 40px;
  }
  &__link {
    padding: 15px 25px 15px 20px;
    border-radius: 5px;
    background-color: $button-color;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: $ligth-color;
    display: inline-flex;
    align-items: center;
    transition: all .3s;
    svg {
      margin-left: 20px;
    }
    path {
      fill: $ligth-color;
    }
    &:hover {
      background-color: $default-color;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    max-width: 370px;
    padding-bottom: 60px;
    position: relative;
  }
  &__img {
    width: 370px;
    position: relative;
  }
  &__descr {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 28px 20px 25px 25px;
    width: 325px;
    background-color: $ligth-color;
    box-shadow: 0px 6px 28.5px rgba(37, 37, 37, 0.05);
    bottom: 10px;
  }
  &__name {
    font-size: 22px;
    line-height: 26px;
    color: $accent-color;
    @extend %dmsans-700;
  }
  &__position {
    color: #565872;
  }
  &__social-links {
    display: flex;
    margin-left: 30px;
  }
  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 21px;
    background-color: #f6f6f6;
    transition: all .3s;
    margin-left: 5px;
    &:hover {
      background-color: $link-color;
    }
  }
}

.footer-top {
  display: flex;
  align-items: flex-start;
  padding: 80px 0 70px;
  border-bottom: 1px solid rgba($button-color, .4);
  &__logo {
    margin-bottom: 25px;
  }

  &__contact {
    width: 200px;
    margin-right: 70px;
  }

  &__services,
  &__account,
  &__newsletter {
    width: 270px;
    display: block;
  }
  &__items + .footer-top__items {
    margin-left: 30px;
  }

  &__address,
  &__email,
  &__phone {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: $text-color;
    margin-bottom: 20px;
    a {
      color: $text-color;
      transition: all .3s;
      &:hover {
        color: $link-color;
      }
    }
  }

  &__items-title {
    font-size: 16px;
    @extend %dmsans-700;
    line-height: 21px;
    color: $footer-title;
    margin-bottom: 25px;
    margin-top: 20px;
  }
  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    @extend %rubik-400;
    color: $text-color;
    margin-bottom: 20px;
    transition: all .3s;
    &:hover {
      color: $link-color;
    }
  }

  &__items-text {
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: $text-color;
    margin-bottom: 35px;
  }

  &__form {
    width: 100%;
    position: relative;
  }

  &__form-input {
    background-color: rgba($link-color, .2);
    font-size: 12px;
    line-height: 18px;
    height: 38px;
    border: none;
    padding: 10px 100px 10px 15px;
    max-width: 270px;
    width: 100%;
    @extend %dmsans-400;
    outline: none;
    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__form-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #a3bbc8;
    color: $ligth-color;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    @extend %dmsans-400;
    transition: all .3s;
    &:hover {
      background-color: $default-color;
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  &__copy,
  &__nav-link {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $text-color;
  }

  
  &__nav-list {
    display: flex
  }

  &__nav-item + .footer-bottom__nav-item {
    padding-left: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      background-color: $text-color;
      left: 15px;
      top: 8px;
    }
  }
  
  &__nav-link {
    transition: all .3s;
    &:hover {
      color: $link-color;
    }
  }
}
.shop {
  padding: 100px 0;
  &__inner {
    display: flex;
  }
  &__filters {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
    flex: 1 0 auto;
  }
}

.filter {
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    position: relative;
    font-size: 18px;
    line-height: 32px;
    @extend %dmsans-700;
    text-transform: uppercase;
    color: $default-color;
    padding-right: 40px;
    margin-bottom: 30px;
    &::after {
      content: '';
      position: absolute;
      width: 38px;
      height: 2px;
      border-radius: 1px;
      background-color: $button-color;
      top: 49%;
      margin-left: 15px;
    }
  }
}
.filter-category,
.filter-brand {
  &__label {
    cursor: pointer;
  }
  
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: rgba($button-color, .2);
      border-radius: 5px;
    }
    &:checked + .filter-brand__checkbox {
      background-color: rgba($button-color, .2);
      border-radius: 5px;
      .filter-brand__checkbox-num {
          color: $default-color;
        }
    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 13px 20px 13px 15px;
    color: $default-color;
    font-size: 16px;
    line-height: 16px;
  }
}
.filter-brand {
  &__checkbox-num {
    color: #b3b3b3;
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
  }
}
.irs--flat {
  height: 15px;
  margin-bottom: 20px;
}

.irs-min,
.irs-max {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-line {
  top: 6px;
  height: 2px;
  background-color: rgba($button-color, .6);
  border-radius: 1px;
}
.irs--flat .irs-bar {
  top: 6px;
  height: 3px;
  background-color: $button-color;
}
.irs--flat .irs-handle {
  top: 0px;
  width: 15px;
  height: 15px;
  background-color: $button-color;
}
.irs--flat .irs-handle>i:first-child {
  display: none;
}

.filter-products {
  &__box {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #333333;
    transition: all .3s;
    &:hover {
      background-color: rgba($button-color, .2);
      border-radius: 5px;
    }
  }
  &__image {
    margin-right: 25px;
  }
  &__name {
    color: inherit;
    h6 {
      font-size: 14px;
      line-height: 16px;
      @extend %rubik-400;
    }
  }
  &__num {
    font-size: 15px;
    line-height: 27px;
    color: inherit;
    @extend %rubik-400;
  }
}

.star {
  margin: 10px -5px;
}

.shop-content {
  width: 100%;
  &__filter {
    background-color: rgba($button-color, .2);
    padding: 20px 25px 20px 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__filter-buttons {
    display: flex;
    align-items: center;
  }
  &__filter-btn {
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;
    &.shop-content__filter-btn--active {
      path {
        fill: $link-color;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product-item {
      margin-bottom: 30px;
    }
  }
}
.jq-selectbox__select {
  height: 32px;
  margin-left: 30px;
  padding: 0 30px 0 0;
  border: none;
  background: transparent;
  box-shadow: none;
  @extend %rubik-400;
  font-size: 16px;
  line-height: 32px;
  color: $default-color;
  text-shadow: none;
  &:hover {
    background: transparent;
  }
}
.jq-selectbox__trigger {
  border-left: none;
  width: 30px;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 10px;
  height: 5px;
  border: none;
  background-image: url('../images/icons/angle-down.svg');
  background-repeat: no-repeat;
}

.product-page {
  padding: 115px 0 115px;
}

.product-details {
  &__inner {
    display: flex;
    margin-bottom: 100px;
  }
  &__slide {
    width: 550px;
    margin-right: 70px;
  }
  &__content {
    width: 550px;
  }
  &__title {
    font-size: 40px;
    line-height: 56px;
    color: #333333;
    @extend %rubik-400;
    margin-top: 20px;
  }
  &__price {
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 25px;
  }
  &__star.product-item__star {
    display: block;
    margin: 20px 0 30px;
  }
  &__text {
    margin-bottom: 25px;
  }
}
.product-slide {
  display: flex;
  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 25px;
    border: none;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__thumb {
    width: 138px;
    margin-right: 25px;
  }
  &__thumb-item {
    margin-bottom: 25px;
    width: 138px;
    height: 160px;
    background-color: #fefefe;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    overflow: hidden;
    &:last-child {
        margin-bottom: 0;
      }
    img {
      object-fit: contain;
      width: 138px;
      height: 160px;
    }
  }
  &__big {
    width: 387px;
    height: 530px;
    background-color: #fefefe;
    border: 2px solid #f2f2f2;
  }
  &__big-item {
    width: 387px;
    height: 530px;
    img {
      width: 220px;
      height: 415px;
      object-fit: contain;
      margin: 0 auto;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }
  }
}
.product-details {
  &__btn {
    border-radius: 5px;
    background-color: $button-color;
    color: $ligth-color;
    text-transform: uppercase;
    padding: 19px 50px;
    text-align: center;
    border: none;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 1px;
    margin-left: 20px;
  }
  &__input {
    text-align: center;
  }
}
.product-info {
  margin-top: 40px;
  &__item {
    display: flex;
    margin-top: 5px;
  }
  &__title {
    margin-right: 5px;
  }
}

.jq-number {
  padding: 0 50px;
  position: relative;
}
.jq-number__field {
  width: 50px;
  box-shadow: none;
}
.jq-number__field input {
  width: 100%;
  padding: 15px 5px;
  font-size: 15px;
  line-height: 21px;
  @extend %rubik-400;
  color: #333333;
  text-align: center;
  border: 1px solid $button-color;
  border-radius: 0;
}
.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 53px;
  border: 1px solid $button-color;
  border-radius: 0;
  background: $ligth-color;
  cursor: pointer;
}
.jq-number__spin:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 12px;
  height: 2px;
  background-color: #333;
}
.jq-number__spin.minus:after {
  top: 50%;
}
.jq-number__spin.plus:before {
  content: "";
    position: absolute;
    bottom: 46%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 2px;
    height: 12px;
    background-color: #333;
}
.jq-number__spin.minus {
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;
  border-right: 0;
}
.jq-number__spin.plus {
  border-left: 0;
}

.product-tabs {
  &__top {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    @extend %rubik-500;
  }
  &__top-item {
    max-width: 241px;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    color: $default-color;
    @extend %rubik-500;
    text-align: center;
    border-radius: 5px;
    background-color: rgba($button-color, .2);
    padding: 16px 10px;
    transition: all .3s;
    &:hover,
    &--active {
      background-color: $button-color;
      color: $ligth-color;
    }
  }
  &__top-item + .product-tabs__top-item {
    margin-left: 10px;
  }
  &__content {
    padding-top: 30px;
  }
  &__content-item {
    display: none;
    &.product-tabs__content-item--active {
      display: block;
    }
  }
}

.comments {
  &__box {
    display: flex;
    color: #565872;
    & + .comments__box {
      margin-top: 30px;
    }
    &--child {
      margin-left: 130px;
      padding: 30px 0;
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      
    }
      &--child + .comments__box--child {
        margin-top: 0;
        border-top: 0;
      }
  }
  &__images {
    overflow: hidden;
    max-width: 100px;
    width: 100%;
    height: 100px;
    margin-right: 30px;
    object-fit: fill;
  }
  &__content-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    line-height: 1;
    margin-bottom: 25px;
  }
  &__content-author {
    display: flex;
    align-items: flex-end;
  }
  &__content-name {
    @extend %rubik-700;
    color: $accent-color;
  }
  &__content-date {
    font-size: 14px;
    margin-right: 30px;
    color: #9e9e9e;
    @extend %rubik-400;
  }
  &__content-reply {
    display: inline-block;
    margin-top: 20px;
    padding-right: 20px;
    position: relative;
    color: #526278;
    font-size: 14px;
    line-height: 1;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 12px;
      height: 14px;
      background-image: url('../images/icons/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 0 0;
      fill: #565872;
      color: inherit;
    }
  }
}
.comments-form {
  margin-top: 60px;
  &__title {
    font-size: 24px;
    line-height: 30px;
    color: $accent-color;
    @extend %rubik-700;
    margin-bottom: 40px;
  }
  &__rating {
    margin-bottom: 30px;
  }
  &__rating-title {
    color: $default-color;
    @extend %rubik-400;
    margin-right: 60px;
  }
  &__label {
    margin-right: 25px;
  }
  &__input {
    @extend %radio-hidden;
    &:checked + .comments-form__radio{
      path{
        fill: #ffcc00;
      }
    }
  }
  &__radio {
    cursor: pointer;
    display: inline-flex;
    path {
      fill: #d8d8d8;
    }
  }
  &__box-input {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__text-input {
    display: inline-block;
    width: 50%;
    height: 50px;
    padding: 0 20px;
    color: #999999;
    background-color: #ffffff;
    border: 1px solid #a3bbc8;
    border-radius: 0;
    outline: none;
    & + .comments-form__text-input {
      margin-left: 30px;
    }
  }
  &__textarea {
    height: 120px;
    background-color: #ffffff;
    border: 1px solid #a3bbc8;
    color: #999999;
    border-radius: 0;
    width: 100%;
    padding: 15px 20px;
    display: block;
    resize: none;
    margin-bottom: 40px;
    outline: none;
  }
  &__btn {
    border: none;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
    text-transform: uppercase;
    color: $ligth-color;
    @extend %rubik-400;
    padding: 18px 30px;
    background-color: $button-color;
    text-align: center;
    transition: all .3s;
    &:hover {
      background-color: $accent-color;
    }
  }
}

.related {
  &__title {
    @extend %title;
    color: $default-color;
    margin-bottom: 60px;
  }
}
  
.slick-arrow {
  position: absolute;
  top: -83px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: $ligth-color;
  border-radius: 5px;
  border: 1px solid rgba($button-color, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  &:hover {
    border-color: $button-color;
  }
}
.slick-prev {
  right: 70px;
}

.slick-list {
  margin: -32px 0;
  padding: 32px 0;
}

.blog-page {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 830px;
    margin-right: 70px;
  }
  &__item {
    margin-bottom: 50px;
  }
  &__aside {
    width: 270px;
  }
  &__item-box {
    margin-bottom: 35px;
    position: relative;
  }
  &__link {
    display: block;
  }
  &__item-metadate {
    width: 275px;
    background-color: $button-color;
    padding: 25px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__item-title {
    font-size: 36px;
    line-height: 36px;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 30px;
  }
  &__item-text {
    margin-bottom: 30px;
  }
  &__item-link {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    padding: 20px;
    font-size: 15px;
    line-height: 12px;
    color: $button-color;
    border: 1px solid $button-color;
    transition: all .3s;
    path {
      fill: $button-color;
    }
    &:hover {
      color: $ligth-color;
      background-color: $default-color;
      border-color: $default-color;
      path {
        fill: $ligth-color;
      }
    }
  }
  .pagination {
    justify-content: flex-start;
    padding-top: 20px;
  }
}

.blog-box {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: $ligth-color;
  text-transform: uppercase;
  &__author,
  &__date {
    padding-left: 24px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 14px;
      height: 16px;
      left: 0;
      top: 4px;
    }
  }
  &__date::before {
    background-image: url('../images/icons/calendar-solid.svg');
  }
  &__author::before {
    background-image: url('../images/icons/user-regular.svg');
  }
  &__author {
    color: $ligth-color;
    &:hover {
      color: $link-color;
    }
  }
}

.form-search {
  position: relative;
  margin-bottom: 60px;
  &__input {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    position: relative;
    background-color: $ligth-color;
    border: 1px solid rgba($button-color, .4);
    padding: 0 60px 0 10px;
    font-size: 14px;
  }
  &__btn {
    background-color: rgba($button-color, .4);
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 42px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    &:hover {
      background-color: $default-color;
      path {
        fill: $ligth-color;
      }
    }
    path {
      fill: #094074;
    }
  }
}

.recent-posts {
  &__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & + .recent-posts__box {
      margin-top: 20px;
    }
  }
  &__image {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
  &__content {
    display: block;
  }
  &__content-title {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__content-date {
    font-size: 12px;
    line-height: 16px;
    color: #9a9a9a;
    padding-left: 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 13px;
      top: 1px;
      left: 0;
      background-image: url('../images/icons/calendar.svg');
    }
  }
}

.post-page {
  h3 {
    font-size: 36px;
    line-height: 26px;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 20px;
  }
  blockquote {
    background-color: rgba($button-color, .2);
    border-left: 6px solid $button-color;
    padding: 25px 35px;
    margin: 45px 0;
    p {
      margin-bottom: 20px;
    }
    span {
      padding-left: 45px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 9px;
        left: 2px;
        width: 20px;
        height: 3px;
        background-color: $button-color;
      }
    }
  }
  h4 {
    font-size: 18px;
    @extend %rubik-500;
    margin-bottom: 20px;
  }
  &__text{
    &--bold {
      @extend %rubik-500;
      margin-bottom: 20px;
    }
  }
  &__content-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 45px;
  }
  &__left-img {
    width: 322px;
    height: 209px;
    margin-right: 30px;
  }
  &__form {
    margin-top: 90px;
  }
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
  padding: 25px 0;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  &__box {
    display: flex;
    align-items: center;
  }
  &__box-link {
    display: block;
  }
  &__img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    margin-right: 30px;
  }
  &__author {
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    @extend %rubik-500;
  }
  &__position {
    color: #666666;
  }
  &__tags {
    color: #333333;
    margin-bottom: 10px;
  }
  &__tags-link {
    color: #999999;
    transition: all .3s;
    &:first-child {
      margin-left: 20px;
    }
    &:hover {
      color: $link-color;
    }
  }
  &__social {
    display: flex;
    align-items: flex-end;
    line-height: 1;
    color: #333333;
  }
  &__social-link {
    display: inline-flex;
    line-height: 1;
    margin-left: 20px;
    color: #a1a1a1;
    path {
      fill: #a1a1a1;
    }
    &:hover {
      path {
        fill: $link-color;
      }
    }
  }
}

.contact-page {
  padding-top: 120px;
  &__subtitle {
    font-size: 16px;
    line-height: 20px;
    color: $button-color;
    @extend %poppins-700;
    text-align: center;
  }
  &__title {
    font-size: 35px;
    line-height: 57px;
    color: $accent-color;
    @extend %dmsans-700;
    text-align: center;
    margin-bottom: 65px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  &__column {
    width: 370px;
    background-color: #fbfbfb;
    border: 2px solid #fbfbfb;
    padding: 70px 50px 75px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    & + .contact-page__column {
      margin-left: 30px;
    }
    &--border {
      border: 2px solid #a3bbc8;
    }
  }
  &__box-img {
    border-radius: 20px;
    padding: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(37, 37, 37, 0.05);
    background-color: #ffffff;
    margin-bottom: 60px;
    &--dark {
      background-color: $button-color;
    }
  }
  &__info-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    color: #222222;
    @extend %dmsans-700;
  }
  &__info-text,
  &__info-link {
    color: #565872;
  }
  &__info-link {
    &:hover {
      color: $link-color;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__form {
    width: 620px;
    margin-right: 30px;
  }
  &__box-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__text-input {
    width: 50%;
    height: 50px;
    padding: 0 20px;
    background-color: rgba($form-color, .5);
    border: none;
    border-radius: 0;
    outline: none;
    &::placeholder {
      text-transform: uppercase;
      opacity: 0.800;
      color: #565872;
    }
    & + .contact-page__text-input {
      margin-left: 20px;
    }
  }
  &__textarea {
    width: 100%;
    height: 175px;
    padding: 15px 20px;
    background-color: rgba($form-color, .5);
    border: none;
    border-radius: 0;
    outline: none;
    &::placeholder {
      text-transform: uppercase;
      opacity: 0.800;
      color: #565872;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: $button-color;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    text-transform: uppercase;
    @extend %poppins-700;
    cursor: pointer;
    &:hover {
      background-color: $accent-color;
    }
  }
}

#map {
  width: 500px;
  height: 335px;
}

@import 'media';