@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0;
  &__wrapper {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  display: flex;
  align-items: center;
  font-size: 36px;
  line-height: 36px;
  @extend %rubik-500;
  color: $accent-color;
  &__img {
    margin-right: 15px;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 35px
  }
  &__list-link {
    font-size: 15px;
    line-height: 15px;
    @extend %rubik-500;
    color: $accent-color;
    transition: all .3s;
    padding-bottom: 5px;
    &:hover {
      border-bottom: 2px solid $link-color;
    }
  }
  &__list-link--active {
    border-bottom: 2px solid $link-color;
  }
}
.header-action {
  display: flex;
  &__search,
  &__link {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__search {
    background-color: rgba($button-color, .2);
    margin-right: 20px;
  }
  &__link {
    background-color: $button-color;
    margin-left: 20px;
  }
  &__wishlist {
    padding: 10px 30px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 32px;
      background-color: $ligth-color;
      opacity: .4;
    }
  }
  &__cart {
    padding: 10px 30px;
    position: relative;
  } 
  &__num {
    position: absolute;
    top: 0;
    right: 22px;
    background-color: $ligth-color;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: $default-color;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
  }
  &__shop-group {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-radius: 26px;
    background-color: $link-color;
  }
}

.hero {
  max-width: 1800px;
  margin: 0 auto;
  &__wrapper {
    position: relative;
    margin: 0 15px;
    background-color: $link-color;
    padding-top: 100px;
    &::before{
      content: '';
      width: 634px;
      height: 634px;
      border-radius: 50%;
      background: linear-gradient(to left, white, transparent);
      position: absolute;
      top: 8%;
      right: 7%;
    }
  }
  &__slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slider-content {
    padding: 120px 0 190px;
  }
  &__slider-title {
    font-size: 72px;
    line-height: 70px;
    color: $default-color;
    @extend %rubik-500;
    margin-bottom: 30px;
    text-transform: uppercase;
    max-width: 470px;
  }
  &__slider-text {
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color: $accent-color;
    @extend %rubik-400;
    margin-bottom: 35px;
  }
  &__slider-btn {
    background-color: $button-color;
    padding: 15px 15px 15px 30px;
    font-size: 15px;
    color: $ligth-color;
    @extend %rubik-500;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    &:hover {
      background-color: $default-color;
    }
    path {
      fill: $ligth-color;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    li,
    .slick-active {
      text-align: center;
    }
    li + li {
      margin-left: 20px;
    }
    .slick-active {
      button {
        background-color: $ligth-color;
      }
    }
    button {
      width: 29px;
      height: 29px;
      border-radius: 50%;
      font-size: 11px;
      line-height: 9px;
      color: $default-color;
      border: none;
      background-color: rgba($ligth-color, .3);
      @extend %rubik-500;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  background-color: #fef7f0;
  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    max-width: 600px;
    width: 100%;
  }
  &__item + .info__item {
    border-left: 1px solid #e8e4ef;
  }
  &__icon {
    object-fit: none;
  }
  &__content {
    padding-left: 30px;
  }
  
  &__title {
    font-size: 18px;
    line-height: 1;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
    max-width: 213px;
  }
}

.title {
  @extend %title;
  text-align: center;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn {
    line-height: 1;
    @extend %dmsans-700;
    color: $tabs-color;
    border: 0;
    background-color: transparent;
    padding: 0;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      color: $title-color;
    }
  }

    &__btn + .filter__btn {
      margin-left: 30px;
    }
}

.mixitup-control-active {
  color: $title-color;
}

.product {
  padding: 60px 0 185px;
  &__items {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

.product-item {
  background-color: $ligth-color;
  box-shadow: 0px 6px 25px rgba(37, 37, 37, 0.05);
  padding: 30px;
  text-align: center;
  &:hover {
    .product-item__link-box {
      transition: all .3s;
      opacity: 1;
      visibility: visible;
    }
  }
  &__img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  &__img {
    height: 220px;
    width: 100%;
    object-fit: contain;
    position: relative;
  }
  &__link-box {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    bottom: 60px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $ligth-color;
    box-shadow: 0px 6px 25px rgba(37, 37, 37, 0.05);
    transition: all .3s;
    path {
      fill: $button-color;
    }
    &:hover {
      background-color: $button-color;
      path {
          fill: $ligth-color;
        }
    }
  }
  &__link:nth-child(2) {
    margin: 0 10px;
  }
  &__title {
    line-height: 40px;
    @extend %dmsans-500;
    color: $default-color;
  }
  &__price {
    line-height: 40px;
      @extend %dmsans-700;
      color: $button-color;
  }
}

.one-product {
  &__items {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $link-color;
    width: 50%;
    padding: 0 20px 75px;
  }
  &__img {
    margin-top: -100px;
  }
  &__content {
    padding-top: 75px;
    margin-left: 30px;
    max-width: 380px;
  }
  &__title {
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    color: $default-color;
    margin-bottom: 20px;
  }
  &__text {
    @extend %rubik-400;
    margin-bottom: 30px;
  }
  &__link {
    width: 180px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $accent-color;
    border-radius: 5px;
    font-size: 15px;
    line-height: 12px;
    color: $accent-color;
    @extend %rubik-500;
    transition: all .3s;
    svg {
      line-height: 1;
      path {
        fill: $accent-color;
      }
    }
    &:hover {
      background-color: $accent-color;
      color: $ligth-color;
      path {
        fill: $ligth-color;
      }
    }
  }
}

.design {
  padding: 100px 0 120px;
  &__filter {
    margin-bottom: 70px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 5px;
    padding: 35px 0 0 35px;
    max-width: 370px;
    width: 100%;
    height: 246px;
  }
  &__item-title {
    color: $title-color;
    font-size: 20px;
    line-height: 28px;
    @extend %dmsans-700;
    margin-bottom: 10px;
    transition: all .3s;
    &:hover {
      color: $accent-color;
    }
  }
  &__item-subtitle {
    @extend %dmsans-700;
    color: $button-color;
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/video-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/video-link-bg.png);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    path {
      fill: $ligth-color;
    }
  }
}

.blog {
  padding-top: 115px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
  }
  .title {
    text-align: left;
  }
  &__link {
    @extend %dmsans-700;
    color: $blogtext-color;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    path {
      fill: $blogtext-color;
    }
    &:hover {
      color: $link-color;
      path {
        fill: $link-color;
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item {
    border-radius: 5px;
    background-color: $ligth-color;
    box-shadow: 0px 6px 25px rgba(37, 37, 37, 0.05);
  }
  &__item-imglink {
    position: relative;
    display: block;
  }
  &__item-imglink::after {
    content: 'News';
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 103px;
    height: 30px;
    bottom: -15px;
    left: 28px;
    background-color: $button-color;
    color: $ligth-color;
    border-radius: 15px;
    font-size: 14px;
    line-height: 29px;
    @extend %poppins-700;
  }
  &__item-content {
    padding: 36px 28px 28px;
  }
  &__item-title {
    font-size: 18px;
    color: $blogtext-color;
    line-height: 26px;
    @extend %dmsans-500;
    margin-bottom: 15px;
    transition: all .3s;
    &:hover {
        color: $accent-color;
      }
  }
  &__item-metedate {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    @extend %dmsans-500;
    color: $blogtext-color;
    transition: all .3s;
    gap: 30px;
  }
  &__item-author {
    a {
      color: $blogtext-color;
      &:hover {
        color: $accent-color;
      }
    }
  }
}

.partner {
  padding: 303px 0 90px;
  background-color: $link-color;
  margin-top: -203px;
  &__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__item {
    object-fit: contain;
  }
}

.footer-top {
  display: flex;
  align-items: flex-start;
  padding: 80px 0 70px;
  border-bottom: 1px solid rgba($button-color, .4);
  &__logo {
    margin-bottom: 25px;
  }

  &__contact {
    width: 200px;
    margin-right: 70px;
  }

  &__services,
  &__account,
  &__newsletter {
    width: 270px;
    display: block;
  }
  &__items + .footer-top__items {
    margin-left: 30px;
  }

  &__address,
  &__email,
  &__phone {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: $text-color;
    margin-bottom: 20px;
    a {
      color: $text-color;
      transition: all .3s;
      &:hover {
        color: $link-color;
      }
    }
  }

  &__items-title {
    font-size: 16px;
    @extend %dmsans-700;
    line-height: 21px;
    color: $footer-title;
    margin-bottom: 25px;
    margin-top: 20px;
  }
  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    @extend %rubik-400;
    color: $text-color;
    margin-bottom: 20px;
    transition: all .3s;
    &:hover {
      color: $link-color;
    }
  }

  &__items-text {
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: $text-color;
    margin-bottom: 35px;
  }

  &__form {
    width: 100%;
    position: relative;
  }

  &__form-input {
    background-color: rgba($link-color, .2);
    font-size: 12px;
    line-height: 18px;
    height: 38px;
    border: none;
    padding: 10px 100px 10px 15px;
    max-width: 270px;
    width: 100%;
    @extend %dmsans-400;
    outline: none;
    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__form-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #a3bbc8;
    color: $ligth-color;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    @extend %dmsans-400;
    transition: all .3s;
    &:hover {
      background-color: $default-color;
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  &__copy,
  &__nav-link {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $text-color;
  }

  
  &__nav-list {
    display: flex
  }

  &__nav-item + .footer-bottom__nav-item {
    padding-left: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      background-color: $text-color;
      left: 15px;
      top: 8px;
    }
  }
  
  &__nav-link {
    transition: all .3s;
    &:hover {
      color: $link-color;
    }
  }
}

@import 'media';