.hero {
  max-width: 1800px;
  margin: 0 auto;

  &__wrapper {
    position: relative;
    margin: 0 15px;
    background-color: $link-color;
    padding-top: 100px;

    &::before {
      content: '';
      width: 634px;
      height: 634px;
      border-radius: 50%;
      background: linear-gradient(to left, white, transparent);
      position: absolute;
      top: 8%;
      right: 7%;
    }
  }

  &__slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slider-content {
    padding: 120px 0 190px;
  }

  &__slider-title {
    font-size: 72px;
    line-height: 70px;
    color: $default-color;
    @extend %rubik-500;
    margin-bottom: 30px;
    text-transform: uppercase;
    max-width: 470px;
  }

  &__slider-text {
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color: $accent-color;
    @extend %rubik-400;
    margin-bottom: 35px;
  }

  &__slider-btn {
    background-color: $button-color;
    padding: 15px 15px 15px 30px;
    font-size: 15px;
    color: $ligth-color;
    @extend %rubik-500;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;

    &:hover {
      background-color: $default-color;
    }

    path {
      fill: $ligth-color;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    li,
    .slick-active {
      text-align: center;
    }

    li+li {
      margin-left: 20px;
    }

    .slick-active {
      button {
        background-color: $ligth-color;
      }
    }

    button {
      width: 29px;
      height: 29px;
      border-radius: 50%;
      font-size: 11px;
      line-height: 9px;
      color: $default-color;
      border: none;
      background-color: rgba($ligth-color, .3);
      @extend %rubik-500;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  background-color: #fef7f0;

  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    max-width: 600px;
    width: 100%;
  }

  &__item+.info__item {
    border-left: 1px solid #e8e4ef;
  }

  &__icon {
    object-fit: none;
  }

  &__content {
    padding-left: 30px;
  }

  &__title {
    font-size: 18px;
    line-height: 1;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
    max-width: 213px;
  }
}

@media (max-width: 1400px) {
  .hero {
    &__wrapper {
      &::before {
        width: 550px;
        height: 550px;
        top: 14%;
        right: 10px;
      }
    }
    &__slider-img {
      width: 500px;
      position: relative;
      right: 50px;
    }
  }
}

@media (max-width: 1100px) {
  .hero {
    &__wrapper {
      padding-top: 0;
      &::before {
        width: 500px;
        height: 500px;
        top: 4%;
      }
    }

    &__slider-img {
      width: 450px;
    }
    &__slider-content {
      padding: 120px 0 100px;
    }
    &__slider-title {
      font-size: 62px;
    }
  }
}

@media (max-width: 992px) {
  .hero {
    &__wrapper {
      &::before {
        content: none;
      }
    }
    &__slider-content {
      width: 100%;
    }
    &__slider-title {
      max-width: 100%;
      font-size: 56px;
    }
    &__slider-text {
      max-width: 100%;
      word-wrap: break-word;
    }
    &__slider-content {
      padding: 60px 0 40px;
    }
  }
  .slick-slide img {
    display: none;
  }
  .info {
    flex-wrap: wrap;
    &__item {
      max-width: 100%;
      padding: 20px 10px;
      justify-content: flex-start;
    }
    &__item + .info__item {
      border-left: none;
      border-top: 1px solid #e8e4ef;;
    }
    &__text {
      max-width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .info {
    &__content {
      padding-left: 15px;
    }
    &__title {
      font-size: 16px;
    }
  }
  .hero {
    &__slider-title {
        font-size: 40px;
        margin-bottom: 20px;
        line-height: 48px;
      }
    .slick-dots {
      li+li {
        margin-left: 10px;
      }
      button {
        width: 20px;
        height: 20px;
        font-size: 9px;
      }
    }
  }
}