.partner {
  position: relative;
  padding: 100px 0 90px;
  background-color: rgba($link-color, .2);

  &__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__item {
    object-fit: contain;
  }
}