.partner {
  position: relative;
  padding: 100px 0 90px;
  background-color: rgba($link-color, .2);

  &__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__item {
    object-fit: contain;
  }
  &__item + .partner__item {
    margin-left: 20px;
  }
}
@media (max-width: 1100px) {
  .partner {
    padding: 60px 0 60px;
    &__items {
      flex-wrap: wrap;
    }
  }
}
@media (max-width: 840px) {
  .partner {
    &__item {
      max-width: 100px;
    }
  }
}
@media (max-width: 779px) {
  .partner {
    &__items {
      flex-direction: column;
    }
    &__item {
      max-width: 100%;
    }
    &__item + .partner__item {
      margin-left: 0px;
      margin-top: 30px;
    }
  }
}