<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee.</title>
  <link rel="stylesheet" href="css/about.min.css">
</head>
<body>
  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    {% include 'app/module/_top/_top.html' %}

    <section class="experience">
      <div class="container">
        <img class="experience_image" src="images/experience-bg.jpg" alt="experience image">
        <div class="experience__content">
          <div class="experience__top">
            <span class="experience__num">12</span>
            <div class="experience__descr">
              <span class="experience__subtitle">Years</span>
              <span class="experience__subtitle">Experience</span>
              <span class="experience__subtitle">Working</span>
            </div>
          </div>
          <h2 class="title experience__title">
            Mission of our creative house
          </h2>
          <p class="experience__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum
          </p>
          <div class="experience__list">
            <div class="experience__item">
              <img class="experience__item-icon" src="images/icons/experience-icon1.svg" alt="">
              <div class="experience__item-descr">
                <span class="experience__item-num">520+</span>
                <span class="experience__item-name">Projects</span>
              </div>
            </div>
            <div class="experience__item">
              <img class="experience__item-icon" src="images/icons/experience-icon2.svg" alt="">
              <div class="experience__item-descr">
                <span class="experience__item-num">$4M</span>
                <span class="experience__item-name">Revenue</span>
              </div>
            </div>
            <div class="experience__item">
              <img class="experience__item-icon" src="images/icons/experience-icon3.svg" alt="">
              <div class="experience__item-descr">
                <span class="experience__item-num">250</span>
                <span class="experience__item-name">Awards</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="total">
      <div class="container">
        <ul class="total__list">
          <li class="total__item">
            <img class="total__icon" src="images/icons/total-icon1.svg" alt="">
            <span class="total__num">99%</span>
            <span class="total__name">Satisﬁed Clients Rate</span>
          </li>
          <li class="total__item">
            <img class="total__icon" src="images/icons/total-icon2.svg" alt="">
            <span class="total__num">5020+</span>
            <span class="total__name">Products Delivered</span>
          </li>
          <li class="total__item">
            <img class="total__icon" src="images/icons/total-icon3.svg" alt="">
            <span class="total__num">23hr</span>
            <span class="total__name">Daily Working Time</span>
          </li>
          <li class="total__item">
            <img class="total__icon" src="images/icons/total-icon4.svg" alt="">
            <span class="total__num">140+</span>
            <span class="total__name">Brands in Store</span>
          </li>
        </ul>
      </div>
    </div>

    <section class="team">
      <div class="container">
        <div class="team__content">
          <h3 class="title team__title">Our Team</h3>
          <p class="team__text">
            Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit amet,
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a class="team__link" href="#">Join With US
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px"
              viewBox="0 0 22 22" version="1.1">
              <g>
                <path
                  d="M 21.597656 11.972656 C 22.132812 11.433594 22.132812 10.5625 21.597656 10.023438 L 16.097656 4.523438 C 15.558594 3.988281 14.6875 3.988281 14.148438 4.523438 C 13.613281 5.0625 13.613281 5.933594 14.148438 6.472656 L 17.304688 9.625 L 1.375 9.625 C 0.613281 9.625 0 10.238281 0 11 C 0 11.761719 0.613281 12.375 1.375 12.375 L 17.304688 12.375 L 14.148438 15.527344 C 13.613281 16.066406 13.613281 16.9375 14.148438 17.476562 C 14.6875 18.011719 15.558594 18.011719 16.097656 17.476562 L 21.597656 11.976562 Z M 21.597656 11.972656 " />
              </g>
            </svg>
          </a>
        </div>
        <div class="team__list">
          <div class="team__item">
            <img class="team__img" src="images/team/team-img1.jpg" alt="team">
            <div class="team__descr">
              <div class="team__descr-box">
                <h5 class="team__name">Eliza Elliot</h5>
                <p class="team__position">Commodo tempor</p>
              </div>
              <div class="team__social-links">
                <a class="team__social-link" href="#">
                  <img src="images/icons/instagram.svg" alt="">
                </a>
                <a class="team__social-link" href="#">
                  <img src="images/icons/google.svg" alt="">
                </a>              
              </div>
            </div>
          </div>
          <div class="team__item">
            <img class="team__img" src="images/team/team-img2.jpg" alt="team">
            <div class="team__descr">
              <div class="team__descr-box">
                <h5 class="team__name">Roscoe A.</h5>
                <p class="team__position">Commodo tempor</p>
              </div>
              <div class="team__social-links">
                <a class="team__social-link" href="#">
                  <img src="images/icons/instagram.svg" alt="">
                </a>
                <a class="team__social-link" href="#">
                  <img src="images/icons/google.svg" alt="">
                </a>              
              </div>
            </div>
          </div>
          <div class="team__item">
            <img class="team__img" src="images/team/team-img3.jpg" alt="team">
            <div class="team__descr">
              <div class="team__descr-box">
                <h5 class="team__name">Ruby M.</h5>
                <p class="team__position">Commodo tempor</p>
              </div>
              <div class="team__social-links">
                <a class="team__social-link" href="#">
                  <img src="images/icons/instagram.svg" alt="">
                </a>
                <a class="team__social-link" href="#">
                  <img src="images/icons/google.svg" alt="">
                </a>              
              </div>
            </div>
          </div>
          <div class="team__item">
            <img class="team__img" src="images/team/team-img4.jpg" alt="team">
            <div class="team__descr">
              <div class="team__descr-box">
                <h5 class="team__name">Marie F. Bloss</h5>
                <p class="team__position">Commodo tempor</p>
              </div>
              <div class="team__social-links">
                <a class="team__social-link" href="#">
                  <img src="images/icons/instagram.svg" alt="">
                </a>
                <a class="team__social-link" href="#">
                  <img src="images/icons/google.svg" alt="">
                </a>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'app/module/_news/_news.html' %}
    {% include 'app/module/_partner/_partner.html' %}

  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
  
</body>
</html>