<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee.</title>
  <link rel="stylesheet" href="css/index.min.css">
</head>
<body>
  
  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    {% include 'app/module/_hero/_hero.html' %}
    {% include 'app/module/_product/_product.html' %}
    {% include 'app/module/_one-product/_one-product.html' %}
    {% include 'app/module/_design/_design.html' %}
    {% include 'app/module/_video/_video.html' %}
    {% include 'app/module/_news/_news.html' %}
    {% include 'app/module/_partner/_partner.html' %}
    
  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
  
</body>
</html>